{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
<p align="center">Click here to go <a href="/logged_in">Home</a></p>
<p align="center"></p>

                        <div class="">

                            <h3 align="center">Mahindra Charging Station - Egmore</h3>
                            <p align="center">
                                Egmore,<br>
                                Chennai,<br>
                                Tamil Nadu 600008<br>
                                Phone No – 1234567890<br>
                                <a href="https://goo.gl/maps/XWgNCzoWr5czQVnV8">View On Map</a> | <a href="/map1"> Get Direction</a>
                            </p>
                        </div>

                        <div class="">

                            <h3 align="center">Tata Charging Station - Gobalapuram</h3>
                            <p align="center">
                                Gopalapuram,<br>
                                Chennai,<br>
                                Tamil Nadu 600086<br>
                                Phone No – 1234567890<br>
                                <a href="https://goo.gl/maps/FVu4Hamz2BHUCBZJ6">View On Map</a> | <a href="/map"> Get Direction</a>
                            </p>
                        </div>

{% endblock %}