{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
<p align="center">Click here to go <a href="/logged_in">Home</a></p>
<p align="center"></p>

                        <div class="">

                            <h3 align="center">EV Cgarching Station - Egmore</h3>
                            <p align="center">
                                Thiruvanathapuram,<br>
                                Kerala<br>
                                Phone No – 1234567890<br>
                                <a href="https://goo.gl/maps/7GUveiRT9XXteu8JA">View On Map</a> | <a href="/map3"> Get Direction</a>
                            </p>
                        </div>

                        <div class="">

                            <h3 align="center">Tata Charging Station - Gobalapuram</h3>
                            <p align="center">
                                Thiruvananthapuram,<br>
                                Kerala<br>
                                Phone No – 1234567890<br>
                                <a href="#">View On Map</a> | <a href="map3"> Get Direction</a>
                            </p>
                        </div>

{% endblock %}