{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
<p align="center">Click here to go <a href="/logged_in">Home</a></p>
<p align="center">Marked location is your Tata Charging Station - Gobalapuram</p>
<p align="center"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31094.614563050553!2d80.23097532530174!3d13.046692885267653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a526637f1fc2b07%3A0x8b16cf28879c9f6c!2sTATA%20Charging%20Station!5e0!3m2!1sen!2sin!4v1681209566748!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</p>
    {% endblock %}
