{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
<p align="center">Click here to go <a href="/logged_in">Home</a></p>
<p align="center">Hello You have Logged in as {{ email }}</p>
<p align="center">please select your district/city to find your nearest EV STATION</p>
<p align="center">Chennai, Tamil Nadu <a href="/chennai">Station</a></p>
<p align="center">Hydrabath, Anthra <a href="/kochi">Station</a></p>
<p align="center">Banguluru, Karnataha <a href="/bangalore">Station</a></p>

<p align="center">This is a india map</p>
<p align="center"></p>
{% endblock %}